registry=https://registry.npmjs.org/
@manish774:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=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