/* General Styles */
.login-min-container{
    padding: 10px;
}
  
  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  }
  
  /* Login Form */
  .login-form {
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    padding: 30px; /* Added padding for better spacing */
    border-radius: 12px; /* Slightly more rounded corners */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Added a bit more shadow for depth */
    margin: 0 20px; /* Ensure it's not touching the edges on smaller screens */
  }
  
  /* Title */
  .login-title {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 25px; /* Added space below the title */
    text-align: center;
    color: #333;
  }
  
  /* Input Styles */
  .login-input {
    width: 100%;
    padding: 14px 18px; /* Increased padding for better tap area */
    margin-bottom: 20px; /* Larger spacing between input fields */
    border: 1px solid #ddd;
    border-radius: 8px; /* More rounded corners for inputs */
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s ease-in-out;
  }
  
  .login-input:focus {
    border-color: #3f51b5;
    outline: none;
  }
  
  .register-error {
    border-color: #ff5252;
  }
  
  /* Login Button */
  .login-btn {
    width: 100%;
    background-color: #3f51b5;
    color: #fff;
    padding: 16px; /* Increase padding for a larger button */
    border: none;
    border-radius: 8px; /* Rounded button */
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    margin-top: 10px; /* Added space above the button */
  }
  
  .login-btn:hover {
    background-color: #303f9f;
  }
  
  /* Toast Notification */
  .toastify-container {
    z-index: 9999;
  }
  
  /* Responsive Styles */
  @media (max-width: 600px) {
    .login-form {
      padding: 20px; /* Reduced padding on smaller screens */
      margin: 0 15px; /* Less margin on the sides for smaller screens */
      box-shadow: none; /* Remove shadow on very small screens for simplicity */
    }
  
    .login-input {
      font-size: 14px;
      padding: 12px 14px; /* Slightly reduced padding */
      margin-bottom: 15px; /* Smaller margin between inputs */
    }
  
    .login-btn {
      padding: 14px; /* Reduced padding for button */
      font-size: 16px; /* Smaller text size on smaller screens */
    }
  }
  