html,
body {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 200px);
}

.current {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border-radius: 10px;
  background: var(--bg-color);
  opacity: 1;
  margin: 5px;
  .mb-i:focus {
    border-color: #1b1212;
  }
}

.table-header > tr > th {
  background-color: rebeccapurple !important;
  color: aliceblue !important;
}

.table-header1 > tr > th {
  background-color: rgb(189, 171, 8) !important;
}

.item-table-container {
  margin-top: 20px;
  border-radius: 10px;
}

.add-item-btn {
  width: 100%;
  padding: 10px 20px;
  height: 50px;
  background: var(--btn-color);
  color: var(--text-color);
}

.add-item-btn[disabled] {
  opacity: 80%;
}

.container-item-head {
  margin-bottom: 50px;
  margin-right: auto;
  font-weight: 700;
  text-align: center;
}

.login-heading {
}

.container-item-head .right-item {
  display: flex;
  align-items: center;
  border: none;
  color: #1b1212;
}

.right-item .xfile-container {
  /* Additional styling if needed */
}
.current {
  width: 100%; /* Adjust the width as needed */
  max-width: 400px; /* You can limit the width to keep the form compact */
  padding: 20px;
  border-radius: 10px;
  /* Optional background to highlight the form */
}

.signup-login-link-holder {
  text-align: center;
  text-decoration: none;
  a {
    color: #1b1212;
  }
}
.login-error {
  text-align: center;
  color: red;
}
