.editCategoryInput[disabled] {
  border: none;
  background-color: transparent;
  cursor: default;
  padding: 0;
  color: inherit;
  font-style: normal;
  font-size: inherit;
  font-family: inherit;
  text-align: left;
}
