/* Modal.scss */

dialog {
  position: relative;
  border: none;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  overflow: hidden;

  &.FULL {
    width: 80%;
    height: 50%;
  }

  &.MEDIUM {
    width: 65%;
    height: 45%;
  }

  &.SMALL {
    // top: 20%;

    width: 80%;
    height: 15%;
  }
  .close-top-button {
    position: absolute;
    right: 0;
    top: 1px;
    height: 30px;
    width: 30px;
  }
  div {
    .footer {
      height: 40px;
      position: absolute;
      bottom: 10px;
      right: 10px;
      .submit-button,
      .close-button {
        margin: 5px;
        height: 30px;
      }
    }
  }
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.7);
}
