.register-error{
    border: 1px solid red;
}

// Register.scss

$mustard-yellow: #ffdb58;
$teal-blue: #008080;
$error-color: #ff4c4c;

.register-panel {
  border: 2px solid $teal-blue;
  padding: 20px;
  border-radius: 10px;
  background-color: #f7f7f7;

  h1 {
    color: $teal-blue;
  }

  button {
    background-color: $mustard-yellow;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken($mustard-yellow, 10%);
    }
  }
}

input {
  border: 1px solid $teal-blue;
  border-radius: 1px;
  padding: 5px;
  font-size: 1rem;
  width: 95%;
  &.register-error {
    border-color: $error-color;
  }
}

.register-phone  {
  margin-bottom: 5px;
}

.register-error {
  border-color: $error-color;
}

.main-register-container{
    padding: 10px;
   
}

.sm-msg{
    font-size: 10px;
}

.login-btn, .register-submit{
    width: 100%;
    height: 50px;
    background-color: $mustard-yellow;
  }