.table-header > tr > th {
  background-color: rebeccapurple !important;
  color: aliceblue !important;
}
.table-header1 > tr > th {
  background-color: rgb(189, 171, 8) !important;
}

.item-container {
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  background: #5da58f;
}

.item-table-container {
  margin-top: 20px;
  border-radius: 10px;
  // background: #ffdb58;
}

.add-item-btn {
  width: 100%;
  padding: 10px 20px;
  height: 50px;
  background: white;
}
.add-item-btn[disabled] {
  opacity: 70%;
}

.container-item-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    background-color: transparent;
    padding: 0%;
  }
  .left-item {
    margin-right: auto;
  }

  .right-item {
    display: flex;
    align-items: center;
    .xfile-container {
    }
  }
}
