[data-theme="light"] {
  --bg-color: #fff;
  --text-color: #333;
  --heading-color: #444;
  --bg-panel: #fffff7;
  --table-header: #f0f0f0;
  --shadow-theme: 10px 10px 20px #e8e8e8, -10px -10px 20px #ffffff;
  --shadow-theme-hover: 5px 5px 10px #e8e8e8, -10px -10px 20px #ffffff;
  --shadow-theme-focus: 15px 15px 20x #e8e8e8, -10px -10px 20px #ffffff;
  --selected-item: lightgray;
  --border-color: #fff;
}

[data-theme="dark-pink"] {
  --bg-color: #333 !important;
  --bg-color: #333 !important;
  --text-color: #df3079 !important;
  --heading-color: #df3079;
  --bg-panel: #28282b;
  --table-header: #df3079;
  --light-black: #454545;
  --shadow-theme: 10px 10px 20px #1e1e1e, -10px -10px 20px #353535;
  --shadow-theme-hover: 5px 5px 10px #1e1e1e, -10px -10px 20px #353535;
  --shadow-theme-focus: 15px 15px 20px #1e1e1e, -10px -10px 20px #353535;
  --selected-item: #1b1b1b;
  --border-color: #000;
  --accent-color: #df3079;
  --shadow-accent: 10px 10px 20px #df3079, -10px -10px 20px #df3079;
}

[data-theme="dark"] {
  --bg-color: #333 !important;
  --text-color: #fff !important;
  --heading-color: gray;
  --bg-panel: #28282b;
  --table-header: black;
  --light-black: #454545;
  --shadow-theme: 10px 10px 20px #1e1e1e, -10px -10px 20px #353535;
  --shadow-theme-hover: 5px 5px 10px #1e1e1e, -10px -10px 20px #353535;
  --shadow-theme-focus: 15px 15px 20x #1e1e1e, -10px -10px 20px #353535;
  --selected-item: #1b1b1b;
  --border-color: #000;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 0;
  margin: 0;
  font-weight: 500;
  .input-container > [type="number"] {
    width: 100px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --primary-color: darkgray;
  --warning-color: #eaaa00;
  --success-color: #39ff14;
  --danger-color: red;
}
