html {
  height: 100%;
}


/* Dark Theme */
[data-theme="dark"] {
  --bg-color: var(--bg-dark);
  --text-color: var(--primary-color);
  --heading-color: var(--heading-dark);
  --bg-panel: var(--bg-panel-dark);
  --table-header: var(--table-header-dark);
  --shadow-theme: var(--shadow-dark);
  --shadow-theme-hover: var(--shadow-hover-dark);
  --shadow-theme-focus: var(--shadow-focus-dark);
  --selected-item: var(--selected-item-dark);
  --border-color: var(--border-dark);

  /* Use the new color palette */
  --primary-color: var(--primary-color);
  --secondary-color: var(--secondary-color);
  --warning-color: var(--warning-color);
  --accent-color: var(--accent-color);
  --danger-color: var(--danger-color);
  --btn-color: var(--warning-color);
}

/* Dark-Light Theme */
[data-theme="light"] {
  --bg-color: var(--bg-light);
  --text-color: var(--warning-color);
  --heading-color: var(--primary-color); /* Dark Blue/Green for headings */
  --bg-panel: var(--bg-panel-light);
  --table-header: var(--table-header-light);
  --shadow-theme: var(--shadow-light);
  --shadow-theme-hover: var(--shadow-hover-light);
  --shadow-theme-focus: var(--shadow-focus-light);
  --selected-item: var(--selected-item-light);
  --border-color: var(--border-light);
  --btn-color: var(--primary-color);

  /* Use the new color palette */
  --primary-color: var(--primary-color);
  --secondary-color: var(--secondary-color);
  --warning-color: var(--warning-color);
  --accent-color: var(--accent-color);
  --danger-color: var(--danger-color);
}

:root {
  --primary-color: #264653; 
  --secondary-color: #2a9d8f; 
  --warning-color: #e9c46a;   
  --accent-color: #f4a261;
  --danger-color: #e76f51;

  /* Common colors for light and dark variants */
  --bg-dark: #333;
  --text-dark: #fff;
  --heading-dark: gray;
  --bg-panel-dark: #28282b;
  --table-header-dark: black;
  --shadow-dark: 10px 10px 20px #1e1e1e, -10px -10px 20px #353535;
  --shadow-hover-dark: 5px 5px 10px #1e1e1e, -10px -10px 20px #353535;
  --shadow-focus-dark: 15px 15px 20px #1e1e1e, -10px -10px 20px #353535;
  --selected-item-dark: #1b1b1b;
  --border-dark: #000;

  --bg-light: #f0f0f0;
  --text-light: #333;
  --bg-panel-light: #eaeaea;
  --table-header-light: #ccc;
  --shadow-light: 10px 10px 20px #bfbfbf, -10px -10px 20px #f5f5f5;
  --shadow-hover-light: 5px 5px 10px #bfbfbf, -10px -10px 20px #f5f5f5;
  --shadow-focus-light: 15px 15px 20px #bfbfbf, -10px -10px 20px #f5f5f5;
  --selected-item-light: #d9d9d9;
  --border-light: #fff;
}


body {
  height: 100%;
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 0;
  margin: 0;
  font-weight: 500;
}
