.x-value {
  text-align: right;
}
.list-rows {
  border: 1px solid lightgray;
  border-radius: 10px;
  margin: 5px;
  padding: 2px;

  div {
    padding-right: 0px;
    span {
      font-size: 14px !important;
    }
  }
}

.listx-container nav {
  margin-bottom: 50px;
}
